## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. It is also the same `Automobile.csv` dataset from the lecture.

Answer each question asked below w.r.t the automobiles dataset. Load pandas as pd and upload the `Automobile.csv` file as auto

In [1]:
import pandas as pd

In [2]:
auto = pd.read_csv('Automobile.csv')

**Check the head of the DataFrame.**

In [3]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [4]:
print('no. of rows: ',len(auto))
print('no. of cols: ',len(auto.columns))

no. of rows:  201
no. of cols:  26

**What is the average Price of all cars in the dataset?**

In [5]:
auto["price"].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [6]:
#car_groupedby = auto.groupby("make")
#cheapestMake = car_groupedby["price"].min()
#print(cheapestMake.head(1))
cheapest = auto.sort_values(by='price')
x = cheapest.head(1)
x.iloc[0][-1]

5118

In [7]:
costliest = auto.sort_values(by='price', ascending=False)
costliest.head(1)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400

**How many cars have horsepower greater than 100?**

In [8]:
auto[auto['horsepower'] > 100].describe()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.00000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,1.022222,136.322222,100.722222,180.630000,67.011111,53.46000,2898.777778,152.322222,3.456778,3.291000,9.391222,135.655556,5226.111111,20.033333,25.333333,18687.022222
std,1.557712,32.988874,6.566407,10.769489,2.156643,2.59917,448.959766,48.612392,0.258604,0.330308,3.143231,31.977928,478.951792,3.128161,3.515615,8759.655529
min,-2.000000,74.000000,88.600000,157.300000,63.800000,47.80000,2128.000000,70.000000,2.540000,2.070000,7.000000,101.000000,4250.000000,13.000000,16.000000,7689.000000
25%,0.000000,108.000000,95.900000,173.050000,65.600000,51.60000,2548.750000,121.000000,3.270000,3.127500,8.000000,111.000000,5000.000000,17.250000,23.250000,12941.250000
50%,1.000000,139.000000,99.600000,178.450000,66.500000,54.20000,2838.500000,143.000000,3.540000,3.350000,9.000000,121.000000,5225.000000,19.000000,25.000000,16500.000000
75%,3.000000,156.750000,104.300000,188.800000,67.975000,55.70000,3092.750000,179.000000,3.620000,3.467500,9.377500,156.000000,5500.000000,23.000000,28.000000,21390.000000
max,3.000000,231.000000,120.900000,208.100000,72.000000,58.70000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,26.000000,30.000000,45400.000000

**How many hatchback cars are in the dataset ?**

In [9]:
auto[auto['body_style']=='hatchback'].count()[0]

68

**What are the 3 most commonly found cars in the dataset?**

In [10]:
auto['make'].value_counts()[:3]

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [11]:
x = auto[auto['price']==7099]
x.iloc[0][2]

'nissan'

**Which cars are priced greater than 40000?**

In [12]:
auto[auto['price']>7099]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Which are the cars that are both a sedan and priced less than 5000?**

In [13]:
newauto = auto[(auto['price']<5000) & (auto['body_style']=='sedan')]
newauto

Empty DataFrame
Columns: [symboling, normalized_losses, make, fuel_type, aspiration, number_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, number_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 26 columns]

### The END