## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. It is also the same `Automobile.csv` dataset from the lecture.

Answer each question asked below w.r.t the automobiles dataset. Load pandas as pd and upload the `Automobile.csv` file as auto

In [2]:
import pandas as pd

In [65]:
df = pd.read_csv('.\\CSV files for Pandas Lecture-20201119\\automobile.csv')

**Check the head of the DataFrame.**

In [67]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

201 rows, 26 columns

**What is the average Price of all cars in the dataset?** (Tallied with Gabriel)

In [40]:
df['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [71]:
cheapest = df.sort_values(by='price')
x = cheapest.head(1)
x.iloc[0][-1]

cheapest

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
134,2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,...,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118
17,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
47,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
146,1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62,4800,35,39,5348
73,2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,0,149,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
125,3,128,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

In [42]:
df['price'].max()

45400

**How many cars have horsepower greater than 100?**

In [43]:
df[df['horsepower']>100].count()

symboling              90
normalized_losses      90
make                   90
fuel_type              90
aspiration             90
number_of_doors        90
body_style             90
drive_wheels           90
engine_location        90
wheel_base             90
length                 90
width                  90
height                 90
curb_weight            90
engine_type            90
number_of_cylinders    90
engine_size            90
fuel_system            90
bore                   90
stroke                 90
compression_ratio      90
horsepower             90
peak_rpm               90
city_mpg               90
highway_mpg            90
price                  90
dtype: int64

**How many hatchback cars are in the dataset ?**

In [73]:
df[df['body_style']=='hatchback'].count()

symboling              68
normalized_losses      68
make                   68
fuel_type              68
aspiration             68
number_of_doors        68
body_style             68
drive_wheels           68
engine_location        68
wheel_base             68
length                 68
width                  68
height                 68
curb_weight            68
engine_type            68
number_of_cylinders    68
engine_size            68
fuel_system            68
bore                   68
stroke                 68
compression_ratio      68
horsepower             68
peak_rpm               68
city_mpg               68
highway_mpg            68
price                  68
dtype: int64

**What are the 3 most commonly found cars in the dataset?**

In [47]:
dfGB = df.groupby(df['make']).count()
dfGB

,symboling,normalized_losses,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
make,,,,,,,,,,,,,,,,,,,,,
alfa-romero,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
audi,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
bmw,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
chevrolet,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
dodge,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
honda,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
isuzu,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
jaguar,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
mazda,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
mercedes-benz,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
mercury,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
mitsubishi,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
nissan,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
peugot,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
plymouth,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
porsche,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
renault,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
saab,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
subaru,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
toyota,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
volkswagen,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
volvo,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11

In [54]:
dfSV = dfGB.sort_values(['symboling'],ascending=False)
dfSV[0:3]['symboling']

make
toyota    32
nissan    18
mazda     17
Name: symboling, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [56]:
df[df['price'] == 7099]['make']

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [58]:
df[df['price']>40000]['make'].unique()

array(['bmw', 'mercedes-benz'], dtype=object)

**Which are the cars that are both a sedan and priced less than 5000?**

In [62]:
df[(df['price']<5000) & (df['make']=='sedan')]

df[df['price']<5000]

Empty DataFrame
Columns: [symboling, normalized_losses, make, fuel_type, aspiration, number_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, number_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 26 columns]

### The END